
@media screen and (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}

@media screen and (max-width:768px) {
    #menu-btn{
        display: initial;
    }
    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        background: #fff;
        width: 30rem;
        border: var(--border);
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: .2s ease-in-out;
    }
    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-in-out;
    }
    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
}

@media screen and (max-width:450px) {
    html{
        font-size: 50%;
    }
}